
  /* STYLE */

  @font-face {
    font-family: 'Messinasans-regular';
    src: url('fonts/messinasans-regular.ttf') format('truetype');
    src: url('fonts/messinasans-regular-webfont.woff') format('woff'),
      url('fonts/messinasans-regular-webfont.woff2') format('woff2'),;
    font-weight: normal;
    font-style: normal;}
header .mobile {
    display: none;}
header{
    align-items:center;
    padding:5px 0 5px 0;
    margin-bottom:5%;
    height:10%;
    background:linear-gradient(-45deg, #29a348, #05aaa2, #12607c, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    border-radius: 20px;}
    @keyframes gradient {
      0% {background-position: 0% 50%;}
      50% {background-position: 100% 50%;}
      100% {background-position: 0% 50%;}}
body{
    background-color:black;
    color: white;
    font-family:'Messinasans-regular', Helvetica, sans-serif;
    font-size: small;
    padding: 0px 0px 0px 0px ;} 
.bodymenu{
      padding-left:5%;
      padding-right:5%;}
.container {
        width:auto;
        display:flex;
        flex-direction:column;
        background:none;
        align-items:center;}
.textbox {
      width:75%;
      flex-direction:column;
      background:none;
      display:flex;
      align-items:center;}
.intro{
      width:55%;
      font-size:16px;
      font-style:italic;}
.imagebox{
        margin:20px 0 20px 0;
        display:flex;
        flex-direction:center;
        align-items:center;
        justify-content:center;}
.imagebig{
        align-items:center;
        float:center;
        width:100%;}
.imagemedium{
        align-items:center;
        float:center;
        width:70%;}
.imagesmall{
        align-items:center;
        float:center;
        width:40%;}
.imagesmaller{
          align-items:center;
          float:center;
          width:30%;}
h1 {
  color:white;
  font-family:'Messinasans-regular', Helvetica, sans-serif;;}
h2 {
  padding:0px 0px 0px 0px;
    margin-bottom:0px;}
h3 {
  padding:0px;
  margin-bottom:5px;}
h4 {
  margin:2px}
p {
    width:55%;
    font-family:'Messinasans-regular', Helvetica, sans-serif;
    font-size: 14px;}
p .p2 {
  font-family:'Messinasans-regular', Helvetica, sans-serif;}

.tag {
  width:auto;
  text-align:center;
  font-size: x-small;
  color:lightgrey;
  margin-bottom:80px;}
.links{
    text-decoration:none;
    color:gray;}
.link{
    text-decoration:none;
    font-family: 'Messinasans-regular', Helvetica, sans-serif;
    color:white;
    font-weight: 900;}
.link2{
      text-decoration:none;
      font-family: 'Messinasans-regular', Helvetica, sans-serif;
      color:white;
      font-weight: 700;}

nav ul {
    align-items:center;
    list-style-type:none}
nav li {
    display: inline-block;
    margin:0 100px 0 0;
    padding:0px;}

.liTBTM {
    display: inline-block;
    margin-left:-10px;}
.term1-menu {
  display:inline-block;
  margin-left:0px;
  margin-right:-10px;}
.term2-menu {
    display:inline-block;
    margin-left:0px;
    margin-right:-10px;}

.photoPROFILE {
    width:120px;
    border-radius: 10px;
    position:absolute;
    right:20%;
    top:21%}
.photoBOOT {
  position:relative;
  display:flex;
  margin:20px auto;
  width: auto;
  height: 350px;}
.photoAOWS1 {
  position:relative;
  display:flex;
  margin:20px auto;
  width: auto;
  height: 500px;} 
.photoAOWS2 {
  position:relative;
  display:flex;
  margin:40px auto;
  width: auto;
  height: 700px;}
.photoBIO1 {
  position:relative;
  display:flex;
  margin:40px auto;
  width: auto;
  height: 250px;}
.photoBIO2 {
  position:relative;
  display:flex;
  margin:40px auto;
  width: auto;
  height: 350px;}
.photoBIO3 {
  position:relative;
  display:flex;
  margin:40px auto;
  width: auto;
  height: 350px;}
.photoBIO4 {
  position:relative;
  display:flex;
  margin:40px auto;
  width: auto;
  height: 200px;}
.photoBIO5 {
  position:relative;
  display:flex;
  margin:40px auto;
  width: auto;
  height: 200px;}
.photoAGRI1 {
  position:relative;
  display:flex;
  float:center;
  margin: 20px auto;
  width:auto;
  width:300px;
  border-radius:10px;}
.photoAGRI2 {
  position:relative;
  display:flex;
  float:center;
  margin: 20px auto;
  width:auto;
  width:500px;
  border-radius:10px;}
.photoAGRI3 {
  position:relative;
  display:flex;
  float:center;
  margin: 20px auto;
  width:auto;
  width:500px;
  border-radius:10px;}
.label1 {
  position:absolute;
  right:10px;
  bottom:-15px;}
.label2 {
  position:absolute;
  right:10px;
  bottom:-15px;}
.topic1 {
    display:flex;
    flex-direction: row;
    width:250px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 30px;}
.topic2 {
  display:flex;
    flex-direction: row;
    width:250px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 30px;}
.topic3 {
  display:flex;
    flex-direction: row;
    width:250px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 30px;}
.topic4 {
  display:flex;
  flex-direction: row;
  width:250px;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 30px;}
.topic5 {
  display:flex;
  flex-direction: row;
  width:250px;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 30px;}
.topic6 {
  display:flex;
  flex-direction: row;
  width:250px;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 30px;}
.topic7 {
  display:flex;
  flex-direction: row;
  width:250px;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 30px;}
.topic8 {
  display:flex;
  flex-direction: row;
  width:250px;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 30px;}
.topic9{
    display:flex;
  flex-direction: row;
  width:250px;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 30px;}
  
.photo1designstudio1{
  position:relative;
  display:flex;
  float:center;
  margin: 20px auto;
  height:auto;
  width:700px;
  border-radius:10px;}
.photo2designstudio1{
  position:relative;
  display:flex;
  float:center;
  margin: 20px auto;
  height:auto;
  width:400px;}
.photo3designstudio1{
  position:relative;
  display:flex;
  float:center;
  margin: 20px auto;
  height:auto;
  width:700px;
  border-radius:10px;}

.photo2designstudio2{
  position:relative;
  display:flex;
  width:500px;
  margin:40px 0 40px 40px;
  border-radius: 10px;}
.photo3designstudio2 {
  width: 500px;
  margin:40px 0 40px 40px;
  border-radius: 10px;}
.photo1designstudio3 {
  position:relative;
  display:flex;
  float:center;
  margin: 40px auto;
  height:auto;
  width:500px;
  border-radius:10px;}
.photo1livingwithyourownideas{
  position:relative;
  display:flex;
  float:center;
  margin: 40px auto;
  width:auto;
  width:400px;
  border-radius:10px;}
.photo2livingwithyourownideas{
  position:relative;
  display:flex;
  float:center;
  margin: 20px auto;
  width:auto;
  width:1000px;
  border-radius:10px;}
.photo3livingwithyourownideas{
  position:relative;
  display:flex;
  float:center;
  margin: 20px auto;
  width:auto;
  width:700px;
  border-radius:10px;}
.photoTBTM1{
  display:flex;
  flex-direction:row;
  margin:20px 0px 0px 0px;
  width:300px;
  border-radius:10px;;}
.photoTBTM2{
    display:flex;
    flex-direction:row;
    margin:0px 20px;
    width:450px;
    border-radius:10px;}
.photoTBTM3{
  position:relative;
  display:flex;
  margin:20px 0px;
  width:800px;
  border-radius:10px;}
.columnTBTM{
  font-family:'Messinasans-regular', Helvetica, sans-serif;
  color:#23d5ab;
  width:100%;
  height:auto;
  flex-direction:column;
  background:none;
  display:flex;
  align-items:center;
  cursor:pointer;
  margin:20px 0 20px 0;}
.photoCE1{
  position:relative;
  display:flex;
  float:center;
  margin: 20px auto;
  height:auto;
  width:700px;
  border-radius:10px;}
.photoCE2{
    position:relative;
    display:flex;
    margin:20px 0px;
    height:auto;
    width:700px;
    border-radius:10px;}
.photoCE3{
  position:relative;
  display:flex;
  float:center;
  margin: 20px auto;
  width:500px;
  height: auto;
  border-radius:10px;}
.photoCE4{
  position:relative;
  display:flex;
  float:center;
  margin: 20px auto;
  width:500px;
  height: auto;
  border-radius:10px;}
.photoCE5{
    position:relative;
    display:flex;
    float:center;
    margin: 20px auto;
    width:500px;
    height: auto;
    border-radius:10px;}
.photoCE6{
    position:relative;
    display:flex;
    float:center;
    margin: 20px auto;
    width:500px;
    height: auto;}
.photoEI1{
  position:relative;
  display:flex;
  margin:20px auto;
  width: auto;
  height: 300px;}
.photoEI2{
      position:relative;
      display:flex;
      float:left;
      margin: 10px auto;
      width:auto;
      height: 220px;
      border-radius:10px;}
.photoEI3{
      position:relative;
      display:flex;
      float:right;
      margin:10px auto;
      width: auto;
      height: 220px;
      border-radius:10px;}
.photoDD1{
      position:relative;
      display:flex;
      margin:20px auto;
      width: auto;
      height: 250px;}
.photoDD2{
        position:relative;
        display:flex;
        margin:20px auto;
        width: 350px;
        height:auto;}
.photoDD3{
        position:relative;
        display:flex;
        margin:20px auto;
        width: 500px;
        height:auto;}
.photoDD4{
        position:relative;
        display:flex;
        margin: 20px auto;
        width: 500px;
        height:auto;}
.photoDD5{
        position:relative;
        display:flex;
        margin:20px auto;
        width: 700px;
        height:auto;}
.photoDD6{
        position:relative;
        display:flex;
        margin:20px auto;
        width: 500px;
        height:auto;}

.divphotoEI4{
        display:flex;
        flex-direction:column;
        align-items:center;}
.photoEI4{
      display:flex;
      align-items:center;
      margin:20px 0px;
      width:115px;}
.photoEI5{
    position:relative;
    display:flex;
    margin:10px 0px;
    width:100%;
    border-radius:10px;}
.photoEI6{
      position:relative;
      display:flex;
      margin:10px 0px;
      width:45%;
      border-radius:10px;}
      
    
.title {
  font-family:'Messinasans-regular', Helvetica, sans-serif;
  font-size: xx-large;}
.blog {
  display:inline-block;
  font-family:'Messinasans-regular', Helvetica, sans-serif;
  width:700px;}

.subtitle {
  color:rgb(255, 255, 255);
  font-family: 'Messinasans-regular', Helvetica, sans-serif;
  display: flex;
  left:200px;
  width:auto;}
.icon {
  width:20px;}
.pdfview {
  margin:15px 0px 15px;}
a {
  text-decoration: none;
  color:black;}

  /* RESPONSIVENESS */

@media screen and (max-width: 800px) {
  ul{
    display:flex;
    flex-direction:column;
    margin-left:-60px}
  header .mobile {
    display:inline-block;
    font-family:'Messinasans-regular';
    background:none;
    padding:10px;
    margin:0}
  header .desktop {
    display: none;} 
  .blog{
    max-width:400px;}
  .photoPROFILE {
  display:none;
  margin-right:150px;
  margin-top:150px;}
  .term1-menu {
  display:flex;
  width:100%;
  max-width:400px;}
  .term2-menu {
    display:flex;}
  .imagebox{
      margin:20px 0 20px 0;}
  .image{
      width:400px;}
  .textbox{
      width:auto}
  .photoAOWS1{
    display:flex;
    width:100%;
    max-width:400px;
    height:auto;
    margin:10px 0 0 0;}
  .photoAOWS2{
    display:flex;
    width:100%;
    max-width:400px;
    height:auto;
    margin:10px 0 0 0;}
  .photoBIO1 {
  display:flex;
  width:100%;
  max-width:400px;
  height:auto;
  margin:10px 0 0 0;}
  .photoBIO2 {
    display:flex;
    width:100%;
    max-width:400px;
    height:auto;
    margin:10px 0 0 0;}
  .photoBIO3 {
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 0 0;}
  .photoBIO4 {
        display:flex;
        width:100%;
        max-width:300px;
        height:auto;
        margin:20px;}
  .photoBIO5 {
          display:flex;
          width:100%;
          max-width:400px;
          height:auto;
          margin:10px 0 0 0;}
  .photoAGRI2 {
    display:flex;
    width:100%;
    max-width:400px;
    height:auto;
    margin:10px 0 0 0;}
  .photoAGRI3 {
    display:flex;
    width:100%;
    max-width:400px;
    height:auto;
    margin:10px 0 20px 0;}
  .pdfview{
      display:flex;
      width:100%;
      max-width:400px;
      height:400px;
      margin:10px 0 0 0;}
  .photo1designstudio3{
    display:flex;
    width:100%;
    max-width:400px;
    height:auto;
    margin:10px 0 0 0;}

  
    .photo1designstudio1{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photo2designstudio1{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photo3designstudio1{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photo1designstudio2{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photo2designstudio2{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photo3designstudio2 {
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photo1livingwithyourownideas{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photo2livingwithyourownideas{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photo3livingwithyourownideas{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photoTBTM1{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photoTBTM2{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photoTBTM3{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .columnTBTM{
      margin-top:10px;
      position:relative;
      display:flex;
      width:700px;
      justify-content:center;
      height:80px;
      cursor:pointer;
      padding-left:40px;
      font-family:'Messinasans-regular', Helvetica, sans-serif;
      font-size:medium;
      color:#23d5ab;}
    .photoCE1{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photoCE2{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photoCE3{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photoCE4{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photoCE5{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photoEI1{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photoEI2{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photoEI3{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photoDD1{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photoDD2{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photoDD3{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photoDD4{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    
    .divphotoEI4{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photoEI4{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photoEI5{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
    .photoEI6{
      display:flex;
      width:100%;
      max-width:400px;
      height:auto;
      margin:10px 0 20px 0;}
        
  }