
  /* STYLE */

  @font-face {
    font-family: 'Messinasans-regular';
    src: url('fonts/messinasans-regular.ttf') format('truetype');
    src: url('fonts/messinasans-regular-webfont.woff') format('woff'),
      url('fonts/messinasans-regular-webfont.woff2') format('woff2'),;
    font-weight: normal;
    font-style: normal;}
header .mobile {
    display: none;}
header{
    align-items:center;
    padding:5px 0 5px 0;
    margin-bottom:5%;
    height:10%;
    background:linear-gradient(-45deg, #29a348, #05aaa2, #12607c, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    border-radius: 20px;}
    @keyframes gradient {
      0% {background-position: 0% 50%;}
      50% {background-position: 100% 50%;}
      100% {background-position: 0% 50%;}}



body{
    background-color:black;
    color: white;
    font-family:'Messinasans-regular', Helvetica, sans-serif;
    font-size: small;
    padding: 0px 0px 0px 5% ;} 
h1 {
  color:white;
  font-family:'Messinasans-regular', Helvetica, sans-serif;}
h2 {
  padding:0px 0px 0px 0px;
    margin-bottom:0px}
h3 {
  padding:0px;
  margin-bottom:5px;}
h4 {
  margin:2px}
p {
    font-family:'Messinasans-regular', Helvetica, sans-serif;
    font-size: large;
    margin-bottom: -15px;}
p .p2 {
  font-family:'Messinasans-regular', Helvetica, sans-serif;}
.links{
    text-decoration:none;
    color:gray;}
.link{
    text-decoration:none;
    font-family: 'Messinasans-regular', Helvetica, sans-serif;
    color:white;
    font-weight: 900;}
.link2{
      text-decoration:none;
      font-family: 'Messinasans-regular', Helvetica, sans-serif;
      color:white;
      font-weight: 700;}

nav ul {
    align-items:center;
    list-style-type:none}
nav li {
    display: inline-block;
    margin:0 100px 0 0;
    padding:0px;}

.liTBTM {
    display: inline-block;
    margin-left:-10px;}
.term1-menu {
  display:inline-block;
  margin-left:0px;
  margin-right:-10px;}

.photoPROFILE {
    width:120px;
    border-radius: 10px;
    position:absolute;
    right:20%;
    top:21%}
.photoBOOT {
  width:700px;
  border-radius: 10px;
  position:absolute;
  right:20px;
  top:180px}
.photoAOWS1 {
  position:absolute;
  width: 600px;
  border-radius: 10px;
  right:5%;
  top:200px;} 
.photoAOWS2 {
  position:absolute;
  width:700px;
  right:10px;
  top:700px;}
.photoBIO1 {
  width:700px;}
.photoBIO2 {
  width:700px;}
.photoBIO3 {
  width:700px;
  margin-top:30px;}
.photoBIO4 {
    width:400px;
    margin:30px 0px 30px 20px;}
.photoAGRI1 {
  width:300px;
  margin-left:30px;
  margin-top:20px;
  margin-bottom:20px;}
.photoAGRI2 {
  width: 500px;
  margin-top:20px;
  margin-bottom:20px;}
.photoAGRI3 {
  width: 500px;
  margin-top:20px;
  margin-bottom:20px;
  border-radius: 10px;}

.label1 {
  position:absolute;
  right:10px;
  bottom:-15px;}
.label2 {
  position:absolute;
  right:10px;
  bottom:-15px;}
.topic1 {
    display:flex;
    flex-direction: row;
    width:250px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 30px;}
.topic2 {
  display:flex;
    flex-direction: row;
    width:250px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 30px;}
.topic3 {
  display:flex;
    flex-direction: row;
    width:250px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 30px;}
.topic4 {
  display:flex;
  flex-direction: row;
  width:250px;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 30px;}
.topic5 {
  display:flex;
  flex-direction: row;
  width:250px;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 30px;}
.topic6 {
  display:flex;
  flex-direction: row;
  width:250px;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 30px;}
.topic7 {
  display:flex;
  flex-direction: row;
  width:250px;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 30px;}
.topic8 {
  display:flex;
  flex-direction: row;
  width:250px;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 30px;}
.topic9{
    display:flex;
  flex-direction: row;
  width:250px;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 30px;}
  
.photo1designstudio1{
  position:absolute;
  width:800px;
  right:20px;
  top:200px;}
.photo2designstudio1{
  position:absolute;
  width:500px;
  right:20px;
  top:800px;
  border-radius:8px;}
.photo3designstudio1{
  position:absolute;
  width:800px;
  right:20px;
  top:1200px;}
.photo1designstudio2{
    position:relative;
    display:flex;
    width:500px;
    left:30px;
    margin-top:40px;
    border-radius: 10px;}
.photo2designstudio2{
  position:relative;
  display:flex;
  width:500px;
  margin:40px 0 40px 40px;
  border-radius: 10px;}
.photo3designstudio2 {
  width: 500px;
  margin:40px 0 40px 40px;
  border-radius: 10px;}
.photo1designstudio3 {
  position:relative;
  display:flex;
  margin:20px auto;
  width: 500px;
  height: auto;}
.photo1livingwithyourownideas{
  position:absolute;
  width:400px;
  right:100px;
  top:200px;}
.photo2livingwithyourownideas{
  position:relative;
  display:flex;
  width:1100px;
  align-items:center;
  margin-top:200px;}
.photo3livingwithyourownideas{
  position:relative;
  display:flex;
  width:500px;
  left:0px;
  margin-top:25px;
  margin-bottom:25px;}
.photoTBTM1{
  display:flex;
  flex-direction:row;
  margin:20px 0px 0px 0px;
  width:300px;
  border-radius:10px;;}
.photoTBTM2{
    display:flex;
    flex-direction:row;
    margin:0px 20px;
    width:450px;
    border-radius:10px;}
.photoTBTM3{
  position:relative;
  display:flex;
  margin:20px 0px;
  width:800px;
  border-radius:10px;}
.columnTBTM{
  margin-top:10px;
  position:relative;
  display:flex;
  width:700px;
  justify-content:center;
  height:80px;
  cursor:pointer;
  padding-left:40px;
  font-family:'Messinasans-regular', Helvetica, sans-serif;
  font-size:medium;
  color:#23d5ab;}
.photoCE1{
  position:relative;
  display:flex;
  margin:20px auto;
  width: 800px;
  height: auto;}
.photoCE2{
    position:relative;
    display:flex;
    margin:20px 0px;
    width:800px;
    border-radius:10px;}
.photoEI1{
  position:relative;
  display:flex;
  margin:20px auto;
  width: auto;
  height: 300px;}
.photoEI2{
      position:relative;
      display:flex;
      float:left;
      margin: 10px auto;
      width:auto;
      height: 250px;
      border-radius:10px;}
.photoEI3{
      position:relative;
      display:flex;
      margin:10px auto;
      width: auto;
      height: 250px;
      border-radius:10px;}
.photoDD1{
      position:relative;
      display:flex;
      margin:20px auto;
      width: auto;
      height: 250px;}

.divphotoEI4{
        display:flex;
        flex-direction:column;
        align-items:center;}
.photoEI4{
      display:flex;
      align-items:center;
      margin:20px 0px;
      width:115px;}
.photoEI5{
    position:relative;
    display:flex;
    margin:-10px 0px;
    width:100%;
    border-radius:10px;}

.photoEI6{
      position:relative;
      display:flex;
      margin:10px 0px;
      width:45%;
      border-radius:10px;}
      
    
.title {
  font-family:'Messinasans-regular', Helvetica, sans-serif;
  font-size: xx-large;}
.blog {
  display: inline-block;
  font-family:'Messinasans-regular';
  width: 500px;
  margin-left: 30px;}
.blogTBTM {
  display:inline-block;
  font-family:'Messinasans-regular', Helvetica, sans-serif;
  width:800px;}
.subtitle {
  color:rgb(255, 255, 255);
  font-family: 'Messinasans-regular', Helvetica, sans-serif;
  display: absolute;
  left:200px;
  margin-top:20px;
  width:400px;}
.icon {
  width:20px;}
.pdfview {
  margin:15px 0px 15px;}
a {
  text-decoration: none;
  color:black;}

  /* RESPONSIVENESS */

@media screen and (max-width: 800px) {
  ul{
    display:flex;
    flex-direction:column;
    margin-left:-60px}
  header .mobile {
    display:inline-block;
    font-family:'Messinasans-regular';
    background:none;
    padding:10px;
    margin:0}
  header .desktop {
    display: none;} 
  .photoPROFILE {
  display:none;
  margin-right:150px;
  margin-top:150px;}
  .term1-menu {
  display:flex;}
  .photoAOWS1{
    display:flex;
    flex-direction: column;}}