   /* The grid: Three equal columns that float */
   .column {
    float: left;
    width: 55%;
    padding: 20px;
    margin:5px;
    border-radius:20px;
    text-align: center;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: black;}
  
  .containerTab {
    padding: 10px;
    color: rgb(255, 255, 255);}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display:table;
    clear: both;}
  
  /* Closable button inside the image */
  .closebtn {
    float: right;
    margin-right:30px;
    color: white;
    font-size: 35px;
    cursor: pointer;} 

